@media (max-width: 1200px){
    .container{
      padding: 0 23px 0 23px;
    }
    .catalog-item{
      width: 290px;
    }
}
@media (max-width: 992px){
 
  .promo__wrapper{
    align-items: center;
  }
  .promo__header{
    text-align: center;
  }
  .promo__subheader{
    text-align: center;
  }
  .header{
    width: 100%;
    
  }
  .waiting__wrapper{
    width: 100%;
    
    
  }
  .waiting__items{
    max-width: 223px;
  }
  .waiting__subtitle{
    font-size: 13px;
  }
 

}
// .carousel__inner{
//   max-width: 600px;
// }

.slick-dots{
  display: flex;
  justify-content: center;
  
  li{
    margin-right: 30px;
    list-style-type: none;
    :first-child{
      margin-right: 0;
    }
    button{
     
      border-radius: 100%;
      background-color: #FFFF;
      color: #FFFF;
      width: 25px;
      height: 25px;
      box-shadow: none;
      &:hover{
        border-color: #FFFF;
        background-color: $main-color;
        color: $main-color;

      }
     
    }
   
    
  }
}
.catalog__content{
  justify-content: space-around;
 
  
 }


@media (max-width: 776px){
    .header__official{
      display: none;
    }
    .waiting__wrapper{
      flex-direction: column;
    }
    .waiting__items {
    max-width: 292px;
    margin: 0 auto;
    margin-bottom: 23px;
    &:last-child{
      margin-bottom: 0;
    }
}
}
.slick-slide img {
  display: block;
  width: 100%;
}
.catalog__tab{
  height: 40px;
  font-size: 13px;
}
@media (max-width: 576px){
  .container{
    padding: 0 11px 0 11px;
  }

  .header__logo{
      max-width: 135px;
  }
  .promo{
    padding-top: 16px;
  }
  .promo__header{
    font-size: 26px;

  }
  .promo__subheader{
    font-size: 18px;
  }
  .header__namber{
    display: none;
  }
    .promo__icons{
      padding: 0 11px;
    }

    .promo__icon{
      width: 98px;
      font-size: 12px;
      img{
        height: 47px;
        width: 100px;
      }
    }
   
  
  .button{
    width: 110px;
    height: 25px;
    font-size: 9px;
    &_main{
        width: 250px;
        height: 50px;
        font-size: 13px;
    }
    &_submit{
      width: 300px;
      height: 55px;
    }
  }
  .waiting{
    padding: 45px 0 25px 0;
  }
}
.catalog__content{
  justify-content: center;

}
.catalog__tab{
  font-size: 11px;
}