.consultation{
    background: url('../img/input_bg.jpeg') center center/cover no-repeat;
    min-height: 680px;
    padding: 100px 0 92px 0;
    &__descr{
        font-size: 20px;
        line-height: normal;
        text-align: left;
        color: #fff;
        margin-top: 80px;
    }
    .error{
        border: 1px solid red;
        color: #FFFF;
    }
    label.error{
        border: none;
        margin-bottom: 15px;
        text-align: center;
    }
  
}