.title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #0d0d0d;
    &_left{
        text-align: left;
        font-size: 36px;
        color: #fff;
        line-height: normal;

    }
}